<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorest</title>
</head>
<body>
    
    <div style="padding: 20; text-align: center; font-weight: bold;">
        <h1>Dashboard</h1>
    </div>
    <br><br>
    <div style="padding: 40; text-align: center; font-weight: bold;">
        <a href="{% url 'users' %}">
            <h1 style="font-size: 3dm; color: white; padding:20px;  background-color:cadetblue; border-radius: 5px;">Load User Data</h1>
        </a>
    </div>

</body>
</html>